html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

header {
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background-color: lightpink;
  text-align: center;
  font-family: Helvetica;
  color: saddlebrown;
}

div {
  flex: 1;
}

#icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  height: 4rem;
  width: 100%;
  display: block;
  background-color:  lightpink;
  text-align: center;
}

input {
  display: none;
}
