html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

header {
  height: 10%;
  background-color: lightpink;
  text-align: center;

  font-size: 6vh;
  line-height: 10vh;

  font-family: Helvetica;
  color: saddlebrown;
  border-bottom: 1px solid lightgray;
}

div {
  height: 80%;
}

#icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#icon:active {
  background-color: lightcoral;
}

#pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  height: 10%;
  width: 100%;
  display: block;
  background-color:  lightpink;
  text-align: center;
  border-top: 1px solid lightgray;
}

input {
  display: none;
}
